html { min-height: 100%; }

body { width: 100%; min-height: 100%; background-color: #f5f5f5; margin: 0 !important;
  font: 12px/150% 'STHeitiSC-Light', 'Microsoft YaHei', Helvetica Neue, Helvetica, STHeitiSC-Light, sans-serif;
  button, input, select, textarea {
    font: 12px/150% 'STHeitiSC-Light', 'Microsoft YaHei', Helvetica Neue, Helvetica, STHeitiSC-Light, sans-serif;
  }
}

div { margin-bottom: 20px;}
