// main colors
$default: #28a964;
$primary: #fa6361;
$info: #3b99fc;
$disabled: #abbac3;

// background
$body: #f1f1f1;
$content: #fafafa;
$side-bar: #f2f2f2;
$header: #f5f5f5;

// table
$table: #fafafa;
$table-hover: #ecf3ef;

// line colors
$line: #eee;
$border: #ddd;
$shadow: #dadada;

// text colors
$text-btn: #fff;
$text-caption: #979797;
$text-title: #414141;

// fontSize
$sm: 12px;
$md: 14px;
$lg: 16px;

// padding
